.menu-bar-item {
  display: flex;
  align-items: center;
  margin-left: 100%;
}

.menu-bar-item > ul {
  display: flex;
  list-style: none;
}

.menu-bar-item > ul > li {
  padding: 5px;
  margin-right: 15px;
}

.menu-bar-item > ul > li > a {
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(7, 7, 7);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-bar-item > ul > li > a:hover {
  color: blue;
  font-weight: 600;
}
